:root {
    --border: 1px solid gray;
    --border-radius: 0.3rem;
    --padding: 1rem;
    --margin: 1rem;
    --bg-color: white;
    --bg-color-1: #EFE;
    --bg-color-2: #EEE;
    --fg-color: black;
    --fg-color-1: #070;
    --fg-color-2: #A00;
}

body {
    background-color: gray;
    color: black;
    display: grid;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 40rem;
    margin: auto;
}

header {
    text-align: right;
    font-size: 0.8rem;
    color: white;
}

button {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) / 2) var(--padding);
    margin: calc(var(--margin) / 4);
    height: 2.5rem;
    width: 5rem;
    color: var(--fg-color);
    background-color: var(--bg-color-1);
    font-size: 1rem;
}

.j-input, .j-output {
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding);
}

.j-input {
    display:grid;
    grid-template-columns: 10rem 1fr;
    row-gap: 1rem;
    padding-top: 2rem;
    input {
        font-size: 1.25rem;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 0.25rem;
    }
    input::placeholder {
        color: #CCC;
        font-size: 1rem;
    }
    input:invalid {
        color: var(--fg-color-2);
    }
    input:valid.valid {
        color: var(--fg-color-1);
    }
    .j-button-bar {
        grid-column-start: 2;
        text-align: right;
    }
}

.j-output {
    table {
        border-collapse: collapse;
        margin: 1rem auto;
        border: var(--border);
    }
    tr {
        border: var(--border);
    }
    th, td {
        padding: 0.5rem;
        text-align: left;
        vertical-align: top;
    }
    th {
        width: 10rem;
    }
    td {
        font-size: 1.25rem;
        width: 15rem;
    }
    span {
        color: var(--fg-color-1);
        font-weight: bold;
        padding: 0 0.5rem;
    }
}

dialog {
    max-width:45rem;
    padding: 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    line-height: 1.6;
    code {
        font-size: 1.05rem;
        color: var(--fg-color-1);
        white-space: nowrap;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 1rem;
    }
    .j-button-bar {
        text-align: right;
    }
    .j-scroll-container {
        max-height: min(35rem, 50vh);
        overflow-y: scroll;
        margin: 2rem 1rem;
    }
    .j-scroll-container:focus {
        outline: none;
    }
    .j-scrollability-indicator {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 2rem;
    }
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}
