:root {
    --border: 1px solid #AAA;
    --border-radius: 0.3rem;
    --padding: 1rem;
    --margin: 1rem;
    --bg-color: white;
    --bg-color-1: #EEE;
    --bg-color-2: #EFE;
    --bg-color-3: #DFD;
    --fg-color: black;
    --fg-color-1: #070;
    --fg-color-2: #A00;
}

body {
    background-color: var(--bg-color-1);
    color: var(--fg-color);
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    max-width: 40rem;
    margin: auto;
    &:has(dialog[open]) {
        overflow: hidden;
    }
}

header {
    text-align: right;
    font-size: 0.8rem;
}

button {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) / 2) var(--padding);
    margin: calc(var(--margin) / 4);
    height: 2.5rem;
    width: 5rem;
    color: var(--fg-color);
    background-color: var(--bg-color-2);
    font-size: 1rem;
    &:hover {
        background-color: var(--bg-color-3);
    }
}

.j-input {
    display:grid;
    grid-template-columns: 10rem 1fr;
    row-gap: 1rem;
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding);
    input {
        font-size: 1.25rem;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 0.25rem;
    }
    input::placeholder {
        color: #CCC;
        font-size: 1rem;
    }
    input:invalid {
        color: var(--fg-color-2);
    }
    input:valid.valid {
        color: var(--fg-color-1);
    }
    .j-button-bar {
        grid-column: 2;
        text-align: right;
    }
}

.j-output {
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    margin: var(--margin);
    padding: var(--padding);
    table {
        border-collapse: collapse;
        margin: 1rem auto;
        border: var(--border);
    }
    tr {
        border: var(--border);
    }
    th, td {
        padding: 0.5rem;
        text-align: left;
        vertical-align: top;
    }
    th {
        width: 10rem;
    }
    td {
        font-size: 1.25rem;
        width: 15rem;
    }
    span {
        color: var(--fg-color-1);
        font-weight: bold;
        padding: 0 0.5rem;
    }
}

.j-m-output {
    display: none;
    min-width: 14rem;
    margin-bottom: 3rem;  /*added for Firefox mobile w/keyboard*/
    table {
        background-color: var(--bg-color);
        border: var(--border);
        border-collapse: collapse;
        border-radius: var(--border-radius);
        width: calc(100% - 2 * var(--margin));
        margin: var(--margin);
    }
    th {
        text-align: left;
        padding: calc(var(--padding) / 2);
        border-top: var(--border);
    }
    td {
        text-align: center;
        font-size: 1.25rem;
        padding-bottom: var(--padding);
    }
    span {
        color: var(--fg-color-1);
        font-weight: bold;
    }
}


dialog {
    max-width:45rem;
    padding: 0.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    line-height: 1.6;
    code {
        font-size: 1.05rem;
        color: var(--fg-color-1);
        white-space: nowrap;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 1rem;
    }
    .j-button-bar {
        text-align: right;
        margin-bottom: 1rem;
    }
    .j-scroll-container {
        max-height: min(35rem, 50vh);
        overflow-y: scroll;
    }
    .j-scroll-container:focus {
        outline: none;
    }
    .j-scrollability-indicator {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 2rem;
        margin: 1rem;
    }
    &::backdrop {
        backdrop-filter: blur(2px);
    }
}


@media (max-width: 30rem ) {
    .j-output {
        display: none;
    }
    .j-m-output {
        display: block;
    }
    .j-input {
        grid-template-columns: 1fr;
        .j-button-bar {
            grid-column: 1;
        }
    }
    dialog {
        padding: 0.2rem;
        .j-scrollability-indicator {
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }
}
